diffusers>=0.32.1
accelerate>=1.1.1
transformers>=4.46.2
numpy==1.26.0
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
sentencepiece>=0.2.0
SwissArmyTransformer>=0.4.12
gradio>=5.5.0
imageio>=2.35.1
imageio-ffmpeg>=0.5.1
openai>=1.54.0
moviepy>=2.0.0
scikit-video>=1.1.11
pydantic>=2.10.3
wandb==0.21.0
opencv-python==4.11.0.86
decord==0.6.0